body,
html {
  margin: 0;
  height: 100%;
  background: #16161d;
  background: radial-gradient(circle, rgba(44, 44, 58, 1) 0%, rgba(22, 22, 29, 1) 100%);
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}
